body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(165, 206, 165);
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  border: 2px solid #333;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.bingo-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color:red;
  font-weight: bold;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
}

.selected {
  background-color: #5bc0de;
  color: #fff;
}

.disabled {
  background-color: #ccc;
  color: #666;
}
